<div class="card">
    <p-toast position="bottom-center" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'"
        [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>
    <div class="row m-2 mt-4">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <span class="p-input-icon-right" [style]="{ width: '100%', height: '100%' }">
                <input type="text" placeholder="Buscar por placa de vehiculo" (keydown.enter)="filterVehicle()"
                    [(ngModel)]="textFilter" class="p-inputtext-lg" pInputText style="width: 100%;" />
            </span>
        </div>
        <div class="col-md-4">
            <p-button class="float-end" [rounded]="true" label="Buscar" (click)="filterVehicle()" [raised]="true"
                severity="secondary"></p-button>
        </div>
    </div>

    <div *ngIf="workOrder.length > 0">
        <div class="mx-4">
            <strong>{{ workOrder.length}} vehículo encontrados</strong>
        </div>
        <div class="row m-2 mt-4">
            <div class="col-md-4 col-sm-6 p-2" *ngFor="let workOrder of workOrder">
                <p-card header="" subheader="" [style]="{ width: '90%', height: '70%' }"
                    (click)="viewStatusVehicle(workOrder)">
                    <ng-template pTemplate="header">
                        <div class="row">
                            <div class="col-5">
                                <div class="row ">
                                    <div class="col-md-12">
                                        <div class="car-plate">
                                            <div class="plate-number">{{ workOrder.vehicle.plate.toLocaleUpperCase()}}
                                            </div>
                                            <div class="plate-city">{{ workOrder.vehicle.city.toLocaleUpperCase()}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <i class='fas fa-car-side' [style.color]="workOrder.vehicle.color"
                                        style='font-size:48px; border: 3px solid #0000;'></i>
                                </div>
                            </div>

                            <div class="col-7" style="font-size: 0.75rem;">
                                <div>{{ workOrder.vehicle.customer.name }} {{ workOrder.vehicle.customer.lastName }}
                                </div>
                                <div>{{ workOrder.vehicle.customer.documentNumber }}</div>
                                <div>Order: #{{ workOrder.idOrder }}</div>
                                <div>{{ workOrder.statusOrder }}</div>
                                <div>{{ workOrder.creationDate | date:'yyyy/MM/dd'}}</div>
                            </div>
                        </div>
                    </ng-template>
                </p-card>
            </div>
        </div>
    </div>

    <div *ngIf="flagDetails" style="justify-content: center; align-items: center;">
        <div class="row m-2">
            <div class="col-md-12 col-sm-6 p-5 ">
                <p-card header="" class="" subheader="" [style]="{ width: '100%', height: '90%' }">
                    <div class="card flex flex-column gap-3 p-5">
                        <h5>Estado del proceso del vehículo <b>{{ workOrde.vehicle.plate }}</b></h5>
                        <p-timeline [value]="events" layout="horizontal" align="center">
                            <ng-template pTemplate="marker" let-event>
                                <span class="custom-marker shadow-2"
                                    style="width: 5rem; height: 4rem; border-radius: 10rem;"
                                    [style.backgroundColor]="event.color">
                                    <i class="mt-3" style="font-size: 2.3rem; color: rgb(217, 218, 223);"
                                        [ngClass]="event.icon"></i>
                                </span>
                            </ng-template>
                            <ng-template pTemplate="content" let-event>
                                {{ event.status }}
                            </ng-template>
                        </p-timeline>

                        <h5></h5>
                        <div class="container row">
                            <div class="col-md-6">
                                <p-card header="Resumen de la orden número {{ workOrde.idOrder }}"
                                    [style]="{ width: '90%', height: '90%' }" styleClass="ui-card-shadow">
                                    <div class="row container">
                                        <div class="col-md-6 mt-2">Fecha creación</div>
                                        <div class="col-md-6 mt-2">{{ workOrde.creationDate | date:'yyyy/MM/dd' }}</div>

                                        <div class="col-md-6 mt-2">Fecha inicio</div>
                                        <div class="col-md-6 mt-2">{{ workOrde.startDate | date:'yyyy/MM/dd' }}</div>

                                        <div class="col-md-6 mt-2">Precio estimado</div>
                                        <div class="col-md-6 mt-2">{{ workOrde.estimatedCost | currency:'$' }}</div>

                                        <div class="col-md-6 mt-2">Estado orden</div>
                                        <div class="col-md-6 mt-2">{{ workOrde.statusOrder }}</div>

                                        <div class="col-md-6 mt-2">Placa</div>
                                        <div class="col-md-6 mt-2">{{ workOrde.vehicle.plate }}</div>

                                        <div class="col-md-6 mt-2">Marca</div>
                                        <div class="col-md-6 mt-2">{{ workOrde.vehicle.brand }}</div>

                                        <div class="col-md-6 mt-2">Modelo</div>
                                        <div class="col-md-6 mt-2">{{ workOrde.vehicle.model }}</div>
                                    </div>
                                </p-card>
                            </div>
                            <div class="col-md-6">
                                <p-card header="Resumen del cliente"
                                    [style]="{ width: '90%', height: '90%' }" styleClass="ui-card-shadow">
                                    <div class="row container">
                                        <div class="col-md-6 mt-2">Nombre</div>
                                        <div class="col-md-6 mt-2">{{ workOrde.vehicle.customer.name }} {{ workOrde.vehicle.customer.lastName }}</div>

                                        <div class="col-md-6 mt-2">Usuario</div>
                                        <div class="col-md-6 mt-2">{{ workOrde.vehicle.customer.userName }}</div>

                                        <div class="col-md-6 mt-2">Dirección</div>
                                        <div class="col-md-6 mt-2">{{ workOrde.vehicle.customer.address }}</div>

                                        <div class="col-md-6 mt-2">Documento</div>
                                        <div class="col-md-6 mt-2">{{ workOrde.vehicle.customer.documentNumber }}</div>

                                        <div class="col-md-6 mt-2">Correo</div>
                                        <div class="col-md-6 mt-2">{{ workOrde.vehicle.customer.email }}</div>

                                        <div class="col-md-6 mt-2">Teléfono</div>
                                        <div class="col-md-6 mt-2">{{ workOrde.vehicle.customer.phone }}</div>

                                        <div class="col-md-6 mt-2">Género</div>
                                        <div class="col-md-6 mt-2">{{ workOrde.vehicle.customer.gender }}</div>
                                    </div>
                                </p-card>
                            </div>

                        </div>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</div>